* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  font-family: 'Roboto', sans-serif; }
  header .conjunto {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px; }
    header .conjunto .logo {
      text-decoration: none;
      list-style: none; }
      header .conjunto .logo img {
        width: 50px; }
    header .conjunto .titulo {
      font-family: 'Bebas Neue', cursive;
      padding-left: 10px; }
      header .conjunto .titulo a {
        text-decoration: none;
        list-style: none;
        color: #000; }
        header .conjunto .titulo a a:visited {
          color: #000; }
  header .lista {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 10px;
    list-style: none; }
  header li a {
    padding: 15px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000; }
    header li a:visited {
      color: #000; }
  header li:hover {
    border-bottom: 0.2rem solid #c797eb;
    color: #000; }

img {
  width: 200px; }

.conteiner-abuelo {
  width: 60%;
  margin: 20px auto;
  height: 900px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  gap: 1.5rem;
  color: #000;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 60px 300px 300px;
  grid-template-areas: "ubicacion ubicacion ubicacion" "container1 container2 container3" "container4 container5 container6"; }
  .conteiner-abuelo .ubicacion {
    grid-area: ubicacion;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px; }
  .conteiner-abuelo .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: container1; }
  .conteiner-abuelo .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: container2; }
  .conteiner-abuelo .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: container3; }
  .conteiner-abuelo .container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: container4; }
  .conteiner-abuelo .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: container5; }
  .conteiner-abuelo .container6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: container6; }
  .conteiner-abuelo div span {
    padding-top: 10px; }
  .conteiner-abuelo .container1:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container2:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container3:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container4:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container5:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container6:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }

.cajaAbuelo .prodMasVendidos {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

.cajaAbuelo .padre, .cajaAbuelo .padre .hijo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: 'Roboto', sans-serif; }
  .cajaAbuelo .padre .hijo {
    margin: 30px; }
    .cajaAbuelo .padre .hijo img:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.5s ease;
      margin-bottom: 5px; }

.anuncio {
  text-align: center;
  margin: 20px; }

.ultimoLan {
  width: 70%;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "caja1 caja2 caja3" "caja1 caja4 caja4"; }
  .ultimoLan .caja1 {
    background-color: #e7e7e7;
    border-radius: 5%;
    grid-area: caja1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .ultimoLan .caja1 img {
      width: 450px; }
  .ultimoLan .caja2 {
    background-color: #e7e7e7;
    grid-area: caja2;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .ultimoLan .caja3 {
    background-color: #e7e7e7;
    grid-area: caja3;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .ultimoLan .caja4 {
    background-color: #e7e7e7;
    grid-area: caja4;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .ultimoLan .caja4 img {
      width: 250px; }

.footer {
  border-top: solid black 2px;
  color: white;
  display: flex;
  justify-content: flex-end; }
  .footer a {
    text-decoration: none;
    margin: 10px; }
    .footer a img {
      width: 40px; }

@media screen and (max-width: 480px) {
  body header .conjunto {
    justify-content: center; }
  body header .lista {
    flex-direction: column;
    text-align: center; }
  body .conteiner-abuelo {
    height: 2200px;
    gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 90px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "ubicacion" "container1" "container2 " "container3" "container4" "container5" "container6"; }
  body .cajaAbuelo {
    height: 1000px; }
  body .anuncio {
    height: 200px; }
  body .ultimoLan {
    height: 1400px;
    gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas: "caja1" "caja2" "caja3 " "caja4"; }
    body .ultimoLan .caja1 img,
    body .ultimoLan .caja4 img {
      width: 200px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  body header .conjunto {
    justify-content: center; }
  body header .lista {
    flex-direction: column;
    text-align: center; }
  body .conteiner-abuelo {
    width: 90%;
    margin: 10px auto;
    height: 1130px;
    gap: 1.3rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 60px 300px 300px 300px;
    grid-template-areas: "ubicacion ubicacion" "container1 container2 " "container3 container4" "container5 container6"; }
  body .cajaAbuelo {
    height: 1000px; }
  body .ultimoLan {
    height: 1500px;
    gap: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "caja1 caja1" "caja2 caja3" "caja4 caja4"; }
    body .ultimoLan .caja1 {
      flex-direction: row;
      text-align: center;
      justify-content: center; }
      body .ultimoLan .caja1 img {
        width: 280px; }
    body .ultimoLan .caja4 {
      flex-direction: row;
      text-align: center;
      justify-content: center; }
      body .ultimoLan .caja4 img {
        width: 280px; } }
