* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header .conjunto {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-left: 5px; }
  header .conjunto .logo {
    text-decoration: none;
    list-style: none; }
    header .conjunto .logo img {
      width: 50px; }
  header .conjunto .titulo h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1px; }
    header .conjunto .titulo h1 a {
      padding-left: 10px;
      text-decoration: none;
      list-style: none;
      color: #000; }
      header .conjunto .titulo h1 a #title {
        font-family: 'Bebas Neue', cursive; }
      header .conjunto .titulo h1 a:visited {
        color: #000; }

header .lista {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  list-style: none; }
  header .lista .link {
    position: relative;
    display: block;
    color: #000;
    padding: 15px 13px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto 20px;
    z-index: 0;
    transition: all 450ms ease; }
    header .lista .link::after, header .lista .link::before {
      content: '';
      display: block;
      position: absolute;
      transition: width 540ms, opacity 300ms ease; }
    header .lista .link:visited {
      color: #000; }
  header .lista .link--1 {
    padding: 0 15px; }
    header .lista .link--1::before, header .lista .link--1::after {
      top: 0;
      bottom: 0;
      margin: auto 0;
      height: 0.1rem;
      width: 0; }
    header .lista .link--1::before {
      left: 0; }
    header .lista .link--1::after {
      background-color: #c797eb;
      right: 0; }
    header .lista .link--1:hover {
      color: #c797eb; }
      header .lista .link--1:hover::before {
        width: 60%;
        transition: width 250ms ease;
        background-color: #c797eb; }
      header .lista .link--1:hover::after {
        width: 100%;
        background-color: transparent; }

img {
  width: 200px; }

.conteiner-abuelo {
  width: 60%;
  margin: 20px auto;
  height: 900px;
  font-family: 'Roboto', sans-serif;
  display: grid;
  gap: 1.5rem;
  color: #000;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 60px 300px 300px;
  grid-template-areas: "ubicacion ubicacion ubicacion" "container1 container2 container3" "container4 container5 container6"; }
  .conteiner-abuelo .ubicacion {
    grid-area: ubicacion;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 2.2rem; }
  .conteiner-abuelo .container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    grid-area: container1; }
  .conteiner-abuelo .container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    grid-area: container2; }
  .conteiner-abuelo .container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    grid-area: container3; }
  .conteiner-abuelo .container4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    grid-area: container4; }
  .conteiner-abuelo .container5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    grid-area: container5; }
  .conteiner-abuelo .container6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    grid-area: container6; }
  .conteiner-abuelo div span {
    padding-top: 15px; }
  .conteiner-abuelo .container1:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container2:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container3:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container4:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container5:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }
  .conteiner-abuelo .container6:hover {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    border-radius: 10%;
    transform: translate(15px, 20px); }

.cajaAbuelo .prodMasVendidos {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; }

.cajaAbuelo .padre, .cajaAbuelo .padre .hijo {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem; }
  .cajaAbuelo .padre .hijo {
    margin: 30px; }
    .cajaAbuelo .padre .hijo span {
      padding: 25px; }
    .cajaAbuelo .padre .hijo img:hover {
      transform: scale(1.1, 1.1);
      transition: all 0.5s ease;
      margin-bottom: 5px; }

.anuncio {
  text-align: center;
  margin: 20px; }

.ultimoLan {
  width: 70%;
  margin: 20px auto;
  font-family: 'Roboto', sans-serif;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "caja1 caja2 caja3" "caja1 caja4 caja4"; }
  .ultimoLan .caja1 {
    background-color: lightgrey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: caja1; }
    .ultimoLan .caja1 img {
      width: 400px; }
  .ultimoLan .caja2 {
    background-color: lightgrey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: caja2; }
  .ultimoLan .caja3 {
    background-color: lightgrey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: caja3; }
  .ultimoLan .caja4 {
    background-color: lightgrey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: caja4; }
    .ultimoLan .caja4 img {
      width: 250px; }

.footer {
  background-color: #202020;
  color: white;
  width: 100%;
  margin-top: 50px; }
  .footer .container-footer-all {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px; }
    .footer .container-footer-all .container-body {
      display: flex;
      justify-content: space-between; }
      .footer .container-footer-all .container-body .column1 {
        max-width: 400px; }
        .footer .container-footer-all .container-body .column1 h2 {
          font-family: 'Bebas Neue', cursive;
          font-size: 20px;
          letter-spacing: 2px; }
        .footer .container-footer-all .container-body .column1 p {
          font-size: 14px;
          color: #C7C7C7;
          margin-top: 20px;
          font-family: 'Roboto', sans-serif; }
      .footer .container-footer-all .container-body .column2 {
        max-width: 400px; }
        .footer .container-footer-all .container-body .column2 h2 {
          font-size: 20px;
          font-family: 'Bebas Neue', cursive;
          letter-spacing: 2px; }
        .footer .container-footer-all .container-body .column2 .row {
          margin-top: 20px;
          display: flex; }
          .footer .container-footer-all .container-body .column2 .row img {
            width: 36px;
            height: 36px; }
          .footer .container-footer-all .container-body .column2 .row span {
            margin-top: 10px;
            margin-left: 20px;
            color: #C7C7C7;
            font-family: 'Roboto', sans-serif; }
      .footer .container-footer-all .container-body .column3 {
        max-width: 400px; }
        .footer .container-footer-all .container-body .column3 h2 {
          font-size: 20px;
          font-family: 'Bebas Neue', cursive;
          letter-spacing: 2px; }
        .footer .container-footer-all .container-body .column3 .row2 {
          margin-top: 20px;
          display: flex; }
          .footer .container-footer-all .container-body .column3 .row2 img {
            width: 36px;
            height: 36px; }
          .footer .container-footer-all .container-body .column3 .row2 span {
            margin-top: 10px;
            margin-left: 20px;
            max-width: 140px;
            font-family: 'Roboto', sans-serif; }
  .footer .container-footer {
    width: 100%;
    background-color: #101010; }
    .footer .container-footer .ultimo-footer {
      display: flex;
      justify-content: space-between;
      max-width: 1200px;
      margin: auto;
      padding: 20px; }
      .footer .container-footer .ultimo-footer .copyright {
        color: #C7C7C7;
        font-family: 'Roboto', sans-serif; }
        .footer .container-footer .ultimo-footer .copyright a {
          text-decoration: none;
          color: white;
          font-weight: bold; }
      .footer .container-footer .ultimo-footer .information {
        text-decoration: none;
        color: #C7C7C7;
        font-family: 'Roboto', sans-serif; }

@media screen and (max-width: 480px) {
  body header .conjunto {
    justify-content: center;
    margin-bottom: 10px; }
  body header .lista {
    flex-direction: column;
    text-align: center; }
  body .conteiner-abuelo {
    height: 2200px;
    gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 90px 300px 300px 300px 300px 300px 300px;
    grid-template-areas: "ubicacion" "container1" "container2 " "container3" "container4" "container5" "container6"; }
  body .cajaAbuelo {
    height: 1000px; }
  body .anuncio {
    height: 200px; }
  body .ultimoLan {
    height: 1400px;
    gap: 2rem;
    grid-template-columns: 100%;
    grid-template-rows: 300px 300px 300px 300px;
    grid-template-areas: "caja1" "caja2" "caja3 " "caja4"; }
    body .ultimoLan .caja1 img,
    body .ultimoLan .caja4 img {
      width: 200px; }
  body .consulta {
    width: 100%;
    text-align: center;
    flex-direction: column; }
    body .consulta .idea img {
      width: 25px; }
  body .general {
    flex-direction: column;
    height: 1500px; }
    body .general .razones {
      width: 80%;
      align-items: center; }
      body .general .razones .razon1 {
        margin: 30px 0px;
        width: 80%; }
      body .general .razones .razon2 {
        margin: 30px 0px;
        width: 80%; }
      body .general .razones .razon3 {
        margin: 30px 0px;
        width: 80%; }
    body .general .imagenes {
      width: 100%;
      align-items: center; }
      body .general .imagenes img {
        width: 250px; }
      body .general .imagenes .imagen1 {
        align-self: center;
        width: 50%;
        margin-bottom: 70px; }
      body .general .imagenes .imagen2 {
        align-self: center;
        width: 50%; }
  body .tituloBeneficio {
    width: 100%; }
  body .beneficiosAdicionales .contenedor1 {
    width: 90%; }
  body .beneficiosAdicionales .contenedor2 {
    width: 90%; }
  body .beneficiosAdicionales .contenedor3 {
    width: 90%; }
  body .mapa {
    width: 80%;
    margin: auto; }
  body .img404 {
    width: 70vh; }
  body .container-amplio .img404 {
    width: 100%;
    text-align: center; }
    body .container-amplio .img404 img {
      width: 350px; }
  body .container-amplio .titulos404 {
    font-size: 1.2rem;
    text-align: center; }
  body .container-magsafe .parrafo-magsafe {
    width: 90%; }
  body .container-img-magsafe .imagenes-magsafe .img1-magsafe {
    align-self: center;
    width: 140px; }
  body .container-img-magsafe .imagenes-magsafe .img2-magsafe {
    align-self: center;
    width: 240px; }
  body .footer .container-footer-all .container-body {
    flex-wrap: wrap; }
    body .footer .container-footer-all .container-body .column2 {
      margin-top: 40px; }
    body .footer .container-footer-all .container-body .column3 {
      margin-top: 40px; } }

@media screen and (min-width: 481px) and (max-width: 768px) {
  body header .conjunto {
    justify-content: center;
    margin-bottom: 10px; }
  body header .lista {
    flex-direction: column;
    text-align: center; }
  body .conteiner-abuelo {
    width: 90%;
    margin: 10px auto;
    height: 1130px;
    gap: 1.3rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 60px 300px 300px 300px;
    grid-template-areas: "ubicacion ubicacion" "container1 container2 " "container3 container4" "container5 container6"; }
  body .cajaAbuelo {
    height: 1000px; }
  body .ultimoLan {
    height: 1500px;
    gap: 2rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas: "caja1 caja1" "caja2 caja3" "caja4 caja4"; }
    body .ultimoLan .caja1 {
      flex-direction: row;
      text-align: center;
      justify-content: center; }
      body .ultimoLan .caja1 img {
        width: 280px; }
    body .ultimoLan .caja4 {
      flex-direction: row;
      text-align: center;
      justify-content: center; }
      body .ultimoLan .caja4 img {
        width: 280px; }
  body .consulta {
    width: 100%;
    text-align: center; }
    body .consulta .idea img {
      width: 25px; }
  body .general {
    flex-direction: column;
    height: 1450px; }
    body .general .razones {
      width: 100%;
      align-items: center; }
      body .general .razones .razon1 {
        margin: 30px 0px;
        width: 80%; }
      body .general .razones .razon2 {
        margin: 30px 0px;
        width: 80%; }
      body .general .razones .razon3 {
        margin: 30px 0px;
        width: 80%; }
    body .general .imagenes {
      width: 100%; }
      body .general .imagenes img {
        margin: 30px; }
      body .general .imagenes .imagen1 {
        align-self: center; }
      body .general .imagenes .imagen2 {
        align-self: center; }
  body .mapa {
    width: 90%;
    margin: auto; }
  body .container-amplio .img404 {
    width: 100%;
    text-align: center; }
    body .container-amplio .img404 img {
      width: 450px; }
  body .container-amplio .titulos404 {
    font-size: 1.2rem;
    text-align: center; }
  body .footer .container-footer-all {
    width: 100%; }
    body .footer .container-footer-all .container-body {
      flex-wrap: wrap; }
      body .footer .container-footer-all .container-body .column1 {
        max-width: 100%; }
      body .footer .container-footer-all .container-body .column2 {
        margin-top: 40px; }
      body .footer .container-footer-all .container-body .column3 {
        margin-top: 40px; } }

.consulta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px; }
  .consulta .pregunta {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem; }
  .consulta .idea {
    padding-left: 15px; }
    .consulta .idea img {
      width: 35px; }

.general {
  display: flex;
  flex-direction: row;
  background-image: url("../Imagenes/original fondo fundas.png");
  width: 90%;
  margin: 5px auto;
  height: 600px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem; }
  .general .razones {
    margin: 25px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    .general .razones img {
      width: 40px; }
    .general .razones .razon1 {
      width: 70%; }
    .general .razones .razon2 {
      width: 70%; }
    .general .razones .razon3 {
      width: 70%; }
  .general .imagenes {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .general .imagenes img {
      width: 300px; }
    .general .imagenes .imagen1 {
      align-self: flex-end;
      transform: rotate(20deg); }
      .general .imagenes .imagen1:hover {
        transform: rotate(-20deg);
        transition: all 1s ease; }
    .general .imagenes .imagen2 {
      align-self: flex-start;
      transform: rotate(-20deg); }
      .general .imagenes .imagen2:hover {
        transform: rotate(20deg);
        transition: all 1s ease; }

.tituloBeneficios {
  margin: 20px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-decoration: underline wavy #fcee47; }

.beneficiosAdicionales {
  width: 75%;
  margin: 15px 25px;
  height: 250px;
  display: flex;
  font-family: 'Roboto', sans-serif;
  flex-direction: column;
  justify-content: center; }
  .beneficiosAdicionales .contenedor1 {
    display: flex;
    flex-direction: row;
    margin: 15px 80px; }
  .beneficiosAdicionales .contenedor2 {
    display: flex;
    flex-direction: row;
    margin: 15px 80px; }
  .beneficiosAdicionales .contenedor3 {
    display: flex;
    flex-direction: row;
    margin: 15px 80px; }
  .beneficiosAdicionales .live {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #c797eb;
    animation: pulse 1500ms infinite;
    list-style: none; }
  .beneficiosAdicionales .texto {
    padding: 0px 15px;
    font-size: 1.2rem; }

@keyframes pulse {
  0% {
    box-shadow: #ff69b4 0 0 0 0; }
  75% {
    box-shadow: #ff69b400 0 0 0 14px; } }

.title h1 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 2.2rem;
  margin: 20px; }

.formulario .form {
  background-color: rgba(0, 0, 0, 0.6);
  width: 90%;
  max-width: 950px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 3px; }
  .formulario .form .form-label {
    display: block;
    color: #c797eb;
    font-weight: bold;
    font-size: 16px;
    position: relative; }
  .formulario .form .form-input {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #c797eb;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white; }
  .formulario .form .form-textarea {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    outline: none;
    border-bottom: 2px solid #c797eb;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: white;
    resize: vertical;
    max-height: 150px;
    min-height: 50px; }
  .formulario .form .btn-submit {
    width: 100%;
    outline: none;
    background-color: #c797eb;
    font-size: 16px;
    border: none;
    color: black;
    font-weight: bold;
    padding: 15px 0px;
    cursor: pointer; }
    .formulario .form .btn-submit:hover {
      background-color: #b46fe9; }

.mapa {
  width: 100%;
  margin-top: 40px;
  height: auto;
  overflow: hidden;
  text-align: center; }

.container-amplio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: 'Roboto', sans-serif; }
  .container-amplio img {
    width: 850px; }
  .container-amplio .titulos404 {
    margin: 20px;
    font-size: 1.8rem; }

.container-magsafe {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center; }
  .container-magsafe .titulo-magsafe {
    background-image: url("../Imagenes/fondo magsafe titulo 1.png");
    font-family: 'Bebas Neue', cursive;
    font-size: 1.6rem;
    padding: 40px 0px;
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center; }
  .container-magsafe .parrafo-magsafe {
    width: 30%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    line-height: 2.2em; }

.container-img-magsafe {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 30px 0px; }
  .container-img-magsafe .imagenes-magsafe {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px 0px; }
    .container-img-magsafe .imagenes-magsafe .img1-magsafe {
      width: 200px;
      padding: 20px 0px;
      align-self: end; }
      .container-img-magsafe .imagenes-magsafe .img1-magsafe:hover {
        transform: scale(1.2, 1.2);
        transition: all 0.5s ease;
        margin-bottom: 5px; }
    .container-img-magsafe .imagenes-magsafe .img2-magsafe {
      width: 300px;
      padding: 20px 0px;
      align-self: start; }
      .container-img-magsafe .imagenes-magsafe .img2-magsafe:hover {
        transform: scale(1.1, 1.1);
        transition: all 0.5s ease;
        margin-bottom: 5px; }
