.footer {
    background-color: #202020;
    color: white;
    width: 100%;
    margin-top: 50px;
    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
        .container-body {
            display: flex;
            justify-content: space-between;
            .column1 {
                max-width: 400px;
                h2 {
                    font-family: 'Bebas Neue', cursive;
                    font-size: 20px;
                    letter-spacing: 2px;
                }
                p {
                    font-size: 14px;
                    color: #C7C7C7;
                    margin-top: 20px;
                    font-family: 'Roboto', sans-serif;
                }
            }
            .column2 {
                max-width: 400px;
                h2 {
                    font-size: 20px;
                    font-family: 'Bebas Neue', cursive;
                    letter-spacing: 2px;
                }
                .row {
                    margin-top: 20px;
                    display: flex;
                    img {
                        width: 36px;
                        height: 36px;
                    }
                    span {
                        margin-top: 10px;
                        margin-left: 20px;
                        color: #C7C7C7;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
            .column3 {
                max-width: 400px;
                h2 {
                    font-size: 20px;
                    font-family: 'Bebas Neue', cursive;
                    letter-spacing: 2px;
                }
                .row2 {
                    margin-top: 20px;
                    display: flex;
                    img {
                        width: 36px;
                        height: 36px;
                    }
                    span {
                        margin-top: 10px;
                        margin-left: 20px;
                        max-width: 140px;
                        font-family: 'Roboto', sans-serif;
                    }
                }
            }
        }
    }
    .container-footer {
        width: 100%;
        background-color: #101010;
        .ultimo-footer {
            display: flex;
            justify-content: space-between;
            max-width: 1200px;
            margin: auto;
            padding: 20px;
            .copyright {
                color: #C7C7C7;
                font-family: 'Roboto', sans-serif;
                a {
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                }
            }
            .information {
                text-decoration: none;
                color: #C7C7C7;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}