* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//MAPA DE COLORES
$colors:( blanco:#f0ecfc, lila:#c797eb, negro:#000, gris:rgb(231, 231, 231);
$blanco: map-get($colors, blanco);
$lila: map-get($colors, lila);
$negro: map-get($colors, negro);
header {
    font-family: 'Roboto', sans-serif;
    .conjunto {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-left: 5px;
        .logo {
            text-decoration: none;
            list-style: none;
            img {
                width: 50px;
            }
        }
        .titulo {
            font-family: 'Bebas Neue', cursive;
            padding-left: 10px;
            a {
                text-decoration: none;
                list-style: none;
                color: $negro;
                a:visited {
                    color: $negro;
                }
            }
        }
    }
    .lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 10px;
        list-style: none;
    }
    li {
        a {
            padding: 15px 13px;
            text-decoration: none;
            font-size: 18px;
            display: block;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: $negro;
            &:visited {
                color: $negro;
            }
        }
        &:hover {
            border-bottom: 0.2rem solid $lila;
            // background: linear-gradient(90deg, rgba(199, 151, 235, 1) 0%, rgba(240, 236, 252, 1) 100%);
            // border-radius: 7%;
            color: $negro;
        }
    }
}

img {
    width: 200px;
}