* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//MAPA DE COLORES
$colors:( blanco:#f0ecfc, lila:#c797eb, negro:#000, gris: lightgrey);
$blanco: map-get($colors, blanco);
$lila: map-get($colors, lila);
$negro: map-get($colors, negro);
$gris:map-get($colors, gris);
header {
    font-family: 'Roboto', sans-serif;
    .conjunto {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-left: 5px;
        .logo {
            text-decoration: none;
            list-style: none;
            img {
                width: 50px;
            }
        }
        .titulo {
            font-family: 'Bebas Neue', cursive;
            padding-left: 10px;
            a {
                text-decoration: none;
                list-style: none;
                color: $negro;
                a:visited {
                    color: $negro;
                }
            }
        }
    }
    .lista {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 10px;
        list-style: none;
        .link {
            position: relative;
            display: block;
            color: $negro;
            padding: 15px 13px;
            text-decoration: none;
            text-align: center;
            font-size: 18px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            cursor: pointer;
            width: fit-content;
            margin: 0 auto 20px;
            z-index: 0;
            transition: all 450ms ease;
            &::after,
            &::before {
                content: '';
                display: block;
                position: absolute;
                transition: width 540ms, opacity 300ms ease;
            }
            &:visited {
                color: $negro;
            }
        }
        .link--1 {
            padding: 0 15px;
            &::before,
            &::after {
                top: 0;
                bottom: 0;
                margin: auto 0;
                height: 0.1rem;
                width: 0;
            }
            &::before {
                left: 0;
            }
            &::after {
                background-color: $lila;
                right: 0;
            }
            &:hover {
                color: $lila;
                &::before {
                    width: 60%;
                    transition: width 250ms ease;
                    background-color: $lila;
                }
                &::after {
                    width: 100%;
                    background-color: transparent;
                }
            }
        }
    }
}

img {
    width: 200px;
}