$height-Caja: 1000px;
@media screen and (max-width: 480px) {
    body {
        header {
            .conjunto {
                justify-content: center;
            }
            .lista {
                flex-direction: column;
                text-align: center;
            }
        }
        .conteiner-abuelo {
            height: 2200px;
            gap: 2rem;
            grid-template-columns: 100%;
            grid-template-rows: 90px 300px 300px 300px 300px 300px 300px;
            grid-template-areas: "ubicacion" "container1" "container2 " "container3" "container4" "container5" "container6";
        }
        .cajaAbuelo {
            height: $height-Caja;
        }
        .anuncio {
            height: 200px;
        }
        .ultimoLan {
            height: 1400px;
            gap: 2rem;
            grid-template-columns: 100%;
            grid-template-rows: 300px 300px 300px 300px;
            grid-template-areas: "caja1" "caja2" "caja3 " "caja4";
            .caja1 img,
            .caja4 img {
                width: 200px;
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width:768px) {
    body {
        header {
            .conjunto {
                justify-content: center;
            }
            .lista {
                flex-direction: column;
                text-align: center;
            }
        }
        .conteiner-abuelo {
            width: 90%;
            margin: 10px auto;
            height: 1130px;
            gap: 1.3rem;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: 60px 300px 300px 300px;
            grid-template-areas: "ubicacion ubicacion" "container1 container2 ""container3 container4" "container5 container6";
        }
        .cajaAbuelo {
            height: $height-Caja;
        }
        .ultimoLan {
            height: 1500px;
            gap: 2rem;
            grid-template-columns: 50% 50%;
            grid-template-rows: 300px 300px 300px;
            grid-template-areas: "caja1 caja1" "caja2 caja3" "caja4 caja4";
            .caja1 {
                flex-direction: row;
                text-align: center;
                justify-content: center;
                img {
                    width: 280px;
                }
            }
            .caja4 {
                flex-direction: row;
                text-align: center;
                justify-content: center;
                img {
                    width: 280px;
                }
            }
        }
    }
}