@mixin cajasUltimoLan {
    background-color: $gris;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ultimoLan {
    width: 70%;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3" "caja1 caja4 caja4";
    .caja1 {
        @include cajasUltimoLan;
        grid-area: caja1;
        img {
            width: 400px;
        }
    }
    .caja2 {
        @include cajasUltimoLan;
        grid-area: caja2;
    }
    .caja3 {
        @include cajasUltimoLan;
        grid-area: caja3;
    }
    .caja4 {
        @include cajasUltimoLan;
        grid-area: caja4;
        img {
            width: 250px;
        }
    }
}