.ultimoLan {
    width: 70%;
    margin: 20px auto;
    font-family: 'Roboto', sans-serif;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "caja1 caja2 caja3" "caja1 caja4 caja4";
    .caja1 {
        background-color: rgb(231, 231, 231);
        border-radius: 5%;
        grid-area: caja1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 450px;
        }
    }
    .caja2 {
        background-color: rgb(231, 231, 231);
        grid-area: caja2;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .caja3 {
        background-color: rgb(231, 231, 231);
        grid-area: caja3;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .caja4 {
        background-color: rgb(231, 231, 231);
        grid-area: caja4;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 250px;
        }
    }
}